{% extends "base.html" %} 
{% block content %} 
<div class="box has-background-grey-lighter">
<div class="card">
    <div class="card-header">
        <h2 class="card-header-title">{{ album }}</h2>
    </div>    
    
    <div class="card-content">
        <p><a href="{% url 'list_by_artist' pk=album.pk %}"></a></p>  
        <p>Artist: 
            {% for artist in album.artist.all %}

            <!-- <a href="{% url 'list_by_artist' pk=album.pk %}">     -->
            {{ artist }}
            <!-- </a> -->
            {% endfor %}
        </p>
        <p>Added to collection: {{ album.created_at }}</p>
    </div>
    
    <div class="card-content">
        <!-- <p>All albums by {{ artist }}:</p> -->
        {% for album in album.artist.albums.all %} 
        <p><a href="{% url 'album_detail' pk=album.pk %}">{{ album }}</a></p>
        {% endfor %} 
    </div>
    
    <div class="card-footer">
        <a href="{% url 'edit_album' pk=album.pk %}" class="card-footer-item">Edit album</a>
        <a href="{% url 'list_albums' %}" class="card-footer-item">Return to list</a>
        <a href="{% url 'delete_album' pk=album.pk %}" class="card-footer-item">Delete album</a>
    </div>
</div>
</div>

{% endblock %} 